extends layout-header

block main-content
  .container.first-container
    h1 #{user.username}
    h3 Your calculations
    .row 
      .col-sm-12
        if calculations && calculations.length > 0
          .list-group
            each calc in calculations
              .list-group-item
                span.badge
                  | #{calc.status}
                h4.list-group-item-heading #{calc.name}
                .list-group-item-text.calc-description
                  a(href="/calc/#{calc._id}/input-file") input file
                  if calc.status == 'finished' || calc.status == 'active'
                    a(href="/calc/#{calc._id}/file/current_progress.log") current status
                  if calc.status == 'finished'
                    a(href="/calc/#{calc._id}/file/out.e") exodus
                    a(href="/calc/#{calc._id}/file/out.csv") csv


        else 
          .col-sm-12
            p No calculations... yet.

      .col-sm-12
        .btn-group
          a.btn.btn-primary(href="/calc/new") Create new.
          a.btn.btn-default(href="/user/logout") Log out
